# Maintenance mode trigger: true or false
# When in maintenance mode, all function invocations will result in a noop or 503 HTTP error
# When toggling maintenance mode, redeploy the functions with the .env.grids-one file changed
MAINTENANCE_MODE=false