@use "sass:map";

// Define Theme Variables
$theme-light: (
  primary: #009688,
  secondary: #bfc2c462,
  destructive: #e91e63,
  background: #f5f5f5, // Soft off-white for layout background
  grid-bg: #ffffff00, // White for grid layout
  text: #212529, // Dark text for readability
  placeholder-bg: #000000, // Light cyan for placeholder
  placeholder-opacity: 0.2,
  grid-tile-bg: #ffffff00, // Light green for grid tiles
  grid-dragging-bg: #0000000e, // Muted teal for dragging state
);

$theme-dark: (
  primary: #9e4db6,
  secondary: #312a354b,
  destructive: #ec407a,
  background: #2f2931, // Deep dark gray for layout background
  grid-bg: #1e1e1e00, // Dark gray for grid layout
  text: #ffffff, // Light text for readability
  placeholder-bg: #1e1e1e, // Muted dark blue-gray for placeholder
  placeholder-opacity: 0.5,
  grid-tile-bg: #574d5731, // Darker gray-blue for grid tiles
  grid-dragging-bg: #ffffff02, // Muted blue-gray for dragging state
);

// Mixin for applying theme variables
@mixin theme($theme) {
  background-color: map.get($theme, background);
  color: map.get($theme, text);
  --primary-color: #{map.get($theme, primary)};
  --secondary-color: #{map.get($theme, secondary)};
  --destructive-color: #{map.get($theme, destructive)};
  --text-color: #{map.get($theme, text)};
  --tile-color: #{map.get($theme, grid-tile-bg)};
}

// Mixin for Grid Layout Styling
@mixin grid-layout($theme) {
  background-color: map.get($theme, grid-bg);
}

// Mixin for Grid Tile Styling
@mixin grid-tile($theme) {
  background: map.get($theme, grid-tile-bg);
  border-radius: 34px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// Mixin for Draggable Grid Tile Styling
@mixin grid-dragging($theme) {
  background: map.get($theme, grid-dragging-bg) !important;
  border: 2px solid var(--primary-color);
  opacity: 0.2;
  border-radius: 34px;
}

// Mixin for Grid Placeholder Styling
@mixin grid-placeholder($theme) {
  background: map.get($theme, placeholder-bg) !important;
  opacity: map.get($theme, placeholder-opacity) !important;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 34px;
  box-shadow: -3px -3px 4px 0px rgba(255, 255, 255, 0.13) inset, 3px 3px 4px 0px rgba(0, 0, 0, 0.34) inset;
}

// Light Theme Styles
body.theme-light {
  @include theme($theme-light);
}

body.theme-light .vue-grid-layout {
  @include grid-layout($theme-light);
}

body.theme-light .vue-grid-layout .vue-grid-item {
  @include grid-tile($theme-light);
}

body.theme-light .vue-grid-layout .vue-draggable-dragging {
  @include grid-dragging($theme-light);
}

body.theme-light .vue-grid-layout .vue-grid-placeholder {
  @include grid-placeholder($theme-light);
}

// Dark Theme Styles
body.theme-dark {
  @include theme($theme-dark);
}

body.theme-dark .vue-grid-layout {
  @include grid-layout($theme-dark);
}

body.theme-dark .vue-grid-layout .vue-grid-item {
  @include grid-tile($theme-dark);
}

body.theme-dark .vue-grid-layout .vue-draggable-dragging {
  @include grid-dragging($theme-dark);
}

body.theme-dark .vue-grid-layout .vue-grid-placeholder {
  @include grid-placeholder($theme-dark);
}

body.theme-light {
  /* Background Options */
  .bkg-primary { background-color: #009688; }
  .bkg-secondary { background-color: #6c757d; }
  .bkg-destructive { background-color: #e91e63; }
  .bkg-neutral { background-color: #f5f5f58c; }
  .bkg-placeholder { background-color: #e0f7fa; }
  .bkg-grid { background-color: #ffffff; }
  .bkg-dragging { background-color: #b2dfdb; }

  /* Text Color Options */
  .txt-primary { color: #009688; }
  .txt-secondary { color: #6c757d; }
  .txt-destructive { color: #e91e63; }
  .txt-neutral { color: #212529; }
}

/* Dark Theme */
body.theme-dark {
  /* Background Options */
  .bkg-primary { background-color: #e25ffc; }
  .bkg-secondary { background-color: #1e1e1ebd; }
  .bkg-destructive { background-color: #ec407a; }
  .bkg-neutral { background-color: #1e1e1e8c; }
  .bkg-placeholder { background-color: #37474f; }
  .bkg-grid { background-color: #1e1e1e; }
  .bkg-dragging { background-color: #455a64; }

  /* Text Color Options */
  .txt-primary { color: #4db6ac; }
  .txt-secondary { color: #adb5bd; }
  .txt-destructive { color: #ec407a; }
  .txt-neutral { color: #f8f9fa; }
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1rem;

  &.small {
    padding: 5px 10px;
  }

  &.primary {
    background-color: var(--primary-color);
    color: #fff;
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: #fff;
  }

  &.destructive {
    background-color: var(--destructive-color);
    color: #fff;
  }

  &:hover {
    filter: brightness(0.9);
  }
}
